# dependencies
node_modules/

# Next.js
.next/
out/

# build
dist/

# env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# misc
.DS_Store
*.pem
npm-debug.log*

# screenshots (dev only)
screenshot*.png
screenshot*.mjs

# design system output
design-system/

# OpenNext
.open-next

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
